<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @organisation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organisation.description %>
</p>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
