
<article>

<section class="intro">
<h1 class="page_title round">Events</h1>

<p>
  <%= image_tag("birds/Little Grebes.jpg", :alt => "Little Grebes", :class => "round") %>
  </p>
</section>

<section class="information">
<p>
<%= paginate @events %>
</p>

    <% @events.each do |event| %>
    <section class="info_individual">
        <section class="color_rows_title round"><h2><%= event.title %></h2></section>
        <section class="color_rows_desc round"><p><%= event.description %></p></section>
        <h3> Date announced: <%= event.date %></h3>
    </section>
    <% end %>


<br>
</section>
</article>
