


<article>
    <section class="intro round">
        <section class="intro_photo">
            <p><%= verpcon04 %>
            </p>
        </section>
        <section class="intro_text round">
            <p>
        The good, the bad and the beautiful! Here are five examples of fungi that are
        typical of habitats in Mole Valley. They have been
        selected to provide a variety of forms, and times of occurrence.
        (Text and photographs by Ray Tantram &copy 9th. March 2005)
      </p>
        </section>
        <section><%= render_breadcrumbs :separator =>
        ' >
        ' %>
        </section>
    </section>
    <h1 class="page_title round">
      Fungi
    </h1>
    <section class="page_text round">
        <p><%= bole_edul002 %>
        </p>
        <h2>
          Penny Bun:
      </h2>
        <i>
        Boletus edulis
      </i>
      
      A prized edible species, found in broadleaved and mixed woodland. Forms
      (mycorrhizal) association with the tree roots.
      One of the 
      
        <q>
        sponge caps
      </q>
      with pores in place of gills on its lower surface.
  
    </section>
    <section class="page_text round">
        <p><%= death_Cap %>
        </p>
        <h2>
        Death Cap:
      </h2>
        <i>
        Amanita phalloides
      </i>
      Highly toxic, a quarter of a cap kills very unpleasantly - but not slugs!
      Most of the Amanita family are poisonous.
      Learn to recognise these fungi if you collect for the table.
      Found under oak, with which it forms a (mycorrhizal) association.
  
    </section>
    <section class="page_text round">
        <p><%= laetip_012 %>
        </p>
        <h2>
        Sulphur Polypore; Chicken of the Woods:
      </h2>
        <i>
        Laetiporus sulphureus
      </i>
      Brilliant yellow, with salmon-orange tones.Grows on trunks of living trees,
      mainly oak and chestnut, and also even on Yew*, causing heart rots.
      Edible, and prized in USA, but can cause gastro-intestinal upsets. 
      [*  do not eat any picked from this toxic tree!]
  
    </section>
    <section class="page_text round">
        <p><%= elfcapAsh02 %>
        </p>
        <h2>
        Scarlet elfcup:
      </h2>
        <i>
        Sarcosypha austriaca
      </i>
      This bright cup fungus (ascomycete) is occasionally found in Mole valley,
      very early in the year, growing on old mossy fallen trunks in
      woodland, especially on hazel and elm. The cups are 1-5 cm. across.
  
    </section>
    <section class="page_text round">
        <p><%= verpcon04 %>
        </p>
        <h2>
        Thimble Morel:
      </h2>
        <i>
        Verpa conica
      </i>
      Quite rare and confined to hawthorn scrub on chalk. There is much of this
      in Mole Valley, and 2004 was a good year for this small and
      elusive spring species. An ascomycete with a hollow stem.
  
    </section>
</article>
  