<header class="static">
    <section class="top_container">
        <section class="menu top_banner"><%= link_to banner, root_path %>
        </section>
        <nav class="menu">
            <ul class="round">
                <li class="round_home"><%= link_to "Home", root_path %>
                </li>
                <li><%= link_to "Resources", resources_path %>
                </li>
                <li><%= link_to "Organisations", organisations_path %>
                </li>
                <li><%= link_to "What is here ?", what_is_here_path %>
                    <ul>
                        <li><%= link_to "Birds", what_is_here_birds_path %>
                        </li>
                        <li><%= link_to "Butterflies", what_is_here_butterflies_path %>
                        </li>
                        <li><%= link_to "Plants", what_is_here_plants_path %>
                        </li>
                        <li><%= link_to "Fungi", what_is_here_fungi_path %>
                        </li>
                    </ul>
                </li>
                <li><%= link_to "Events", events_path %>
                </li>
                <li class="round_contact"><%= link_to "Contact Us", contact_us_path %>
                </li>
            </ul>
        </nav>
        <nav class="round admin_login">
        </nav>
    </section>
</header>
