<header class="static">
<section class="top_container">
<nav class="menu round">
<%= link_to banner, root_path %>
</nav>

<nav class="menu">
	<ul class="round">
	    <li class="round_home"><%= link_to "Home", root_path %></li>
	    <li><%= link_to "Resources", resources_path %></li>
	    <li><%= link_to "Organisations", organisations_path %></li>
	    <li><%= link_to "What is here ?", what_is_here_path %>
	    <ul>
	    	<li><%= link_to "Birds", what_is_here_birds_path %></li>
	    	<li><%= link_to "Butterflies", what_is_here_butterflies_path %></li>
	    	<li><%= link_to "Plants", what_is_here_plants_path %></li>
	    	<li><%= link_to "Fungi", what_is_here_fungi_path %></li>
	    </ul>
	    </li>
	    <li><%= link_to "Events", events_path %></li>
	    <li class="round_contact"><%= link_to "Contact Us", contact_us_path %></li>
	</ul>
</nav>
<nav class="round admin_login">
	<% if admin_user_signed_in? %>
		<%= link_to "Admin Logout", destroy_admin_user_session_path %>
	<% else %>
		<%= link_to "Admin Login", admin_user_session_path %>
	<% end %>
	</nav>
</section>
</header>
