<nav id="nav_main">
  <ul>
    <li><%= link_to "Home", root_path %></li><br/>
    <li><%= link_to "Resources", resources_path %></li>
    <li><%= link_to "Organisations", organisations_path %></li>
    <li><%= link_to "What is here ?", what_is_here_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Contact Us", contact_us_path %></li>
  </ul>
</nav>