<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "default", "data-turbolinks-track" => true %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
<article>
<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>
	<section>
		
	



	<%= yield %>



	</section>
<%= render 'layouts/footer' %>
</article>
</body>
</html>
